In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\nnoar\OneDrive\Desktop\housing.csv')

In [4]:
df.head()

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,7049044568,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,1148,apartment,1078,3,2.0,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.796,ca
1,7049047186,https://reno.craigslist.org/apa/d/reno-reduced...,reno / tahoe,https://reno.craigslist.org,1200,condo,1001,2,2.0,0,...,0,0,0,w/d hookups,carport,https://images.craigslist.org/00V0V_5va0MkgO9q...,Conveniently located in the middle town of Ren...,39.5026,-119.789,ca
2,7043634882,https://reno.craigslist.org/apa/d/sparks-state...,reno / tahoe,https://reno.craigslist.org,1813,apartment,1683,2,2.0,1,...,0,0,0,w/d in unit,attached garage,https://images.craigslist.org/00t0t_erYqC6LgB8...,2BD | 2BA | 1683SQFTDiscover exceptional servi...,39.6269,-119.708,ca
3,7049045324,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095,apartment,708,1,1.0,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.771,ca
4,7049043759,https://reno.craigslist.org/apa/d/reno-no-long...,reno / tahoe,https://reno.craigslist.org,289,apartment,250,0,1.0,1,...,1,0,1,laundry on site,NaN,https://images.craigslist.org/01616_fALAWFV8zQ...,"Move In Today: Reno Low-Cost, Clean & Furnishe...",39.5357,-119.805,ca

In [5]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'type', 'sqfeet', 'beds',
       'baths', 'cats_allowed', 'dogs_allowed', 'smoking_allowed',
       'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished',
       'laundry_options', 'parking_options', 'image_url', 'description', 'lat',
       'long', 'state'],
      dtype='object')

In [6]:
df_1 = df.drop(columns={'id','url','region_url','image_url','description'})

In [7]:
df_1['state'].value_counts()

ca    33085
fl    31929
tx    31137
nc    18628
mi    14529
ga    13841
oh    12884
tn    11541
co    11308
va    11063
ny     9991
sc     9932
pa     9911
il     9706
al     8196
or     8079
ks     7910
ia     7488
mn     7468
md     7451
la     7304
wa     7061
az     6753
wi     6646
in     6416
ok     5788
nj     5711
ky     5419
ut     5194
ms     4973
ma     4926
id     4466
ct     3765
nd     3428
ar     3149
nm     2917
nv     2846
ne     2697
dc     2502
ak     2169
mo     2158
de     2048
ri     1889
hi     1840
sd     1782
nh     1761
mt     1339
wv      819
vt      527
me      420
wy      187
Name: state, dtype: int64

In [8]:
ohio_df = df_1.loc[df_1['state'] == 'oh']

In [9]:
ohio_df.head()

,region,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,lat,long,state
218910,cincinnati,865,apartment,954,2,1.5,1,1,1,0,0,0,laundry on site,off-street parking,39.0300,-84.5590,oh
218959,akron / canton,865,apartment,694,1,1.0,1,1,1,1,0,0,w/d in unit,off-street parking,41.1379,-81.5409,oh
218969,cincinnati,672,apartment,750,1,1.0,1,1,1,0,0,0,laundry in bldg,off-street parking,38.9941,-84.6420,oh
218983,cincinnati,835,apartment,830,2,1.0,1,1,1,0,0,0,NaN,off-street parking,39.3402,-84.3998,oh
219024,akron / canton,895,apartment,1000,2,1.0,0,0,0,0,0,0,w/d hookups,attached garage,40.9797,-81.4739,oh

In [10]:
ohio_df['laundry_options'].value_counts()

w/d hookups           3400
laundry in bldg       3000
w/d in unit           2459
laundry on site       1521
no laundry on site     128
Name: laundry_options, dtype: int64

In [11]:
ohio_df.dropna(inplace=True)
ohio_df.info

<ipython-input-11-5c631aafc823>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ohio_df.dropna(inplace=True)

<bound method DataFrame.info of                         region  price          type  sqfeet  beds  baths  \
218910              cincinnati    865     apartment     954     2    1.5
218959          akron / canton    865     apartment     694     1    1.0
218969              cincinnati    672     apartment     750     1    1.0
219024          akron / canton    895     apartment    1000     2    1.0
219032          akron / canton   1020     apartment     946     1    1.0
...                        ...    ...           ...     ...   ...    ...
235393  zanesville / cambridge    956     apartment    1220     3    1.5
235395  zanesville / cambridge    956     apartment    1220     3    1.5
235396  zanesville / cambridge    729     apartment     886     2    1.0
235397  zanesville / cambridge    956     apartment    1220     3    1.5
235399  zanesville / cambridge    595  manufactured    1000     2    1.5

        cats_allowed  dogs_allowed  smoking_allowed  wheelchair_access  \
218910             1             1                1                  0
218959             1             1                1                  1
218969             1             1                1                  0
219024             0             0                0                  0
219032             1             1                1                  0
...              ...           ...              ...                ...
235393             1             1                1                  0
235395             1             1                1                  0
235396             1             1                1                  0
235397             1             1                1                  0
235399             0             0                1                  0

        electric_vehicle_charge  comes_furnished  laundry_options  \
218910                        0                0  laundry on site
218959                        0                0      w/d in unit
218969                        0                0  laundry in bldg
219024                        0                0      w/d hookups
219032                        0                0      w/d in unit
...                         ...              ...              ...
235393                        0                0      w/d hookups
235395                        0                0      w/d hookups
235396                        0                0  laundry in bldg
235397                        0                0      w/d hookups
235399                        0                0      w/d in unit

           parking_options      lat     long state
218910  off-street parking  39.0300 -84.5590    oh
218959  off-street parking  41.1379 -81.5409    oh
218969  off-street parking  38.9941 -84.6420    oh
219024     attached garage  40.9797 -81.4739    oh
219032  off-street parking  41.2491 -81.3383    oh
...                    ...      ...      ...   ...
235393  off-street parking  40.0427 -82.4566    oh
235395  off-street parking  40.0427 -82.4566    oh
235396      street parking  39.9803 -82.0421    oh
235397  off-street parking  40.0427 -82.4566    oh
235399  off-street parking  40.3172 -82.0560    oh

[9246 rows x 17 columns]>

In [12]:
great_lakes = df_1[df_1['state'].isin(['oh','wi','mn','mi','il','ny','pa','in'])]

In [13]:
great_lakes.dropna(inplace=True)

<ipython-input-13-e18d6a322183>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  great_lakes.dropna(inplace=True)

In [14]:
great_lakes.info

<bound method DataFrame.info of                     region  price       type  sqfeet  beds  baths  \
80254   bloomington-normal    850  apartment    1100     2    1.0
80295   bloomington-normal    625  apartment     900     2    1.0
80565              chicago   2910  apartment    1500     3    2.0
80767              chicago   2085       loft     662     0    1.0
80838              chicago    840  apartment     700     1    1.0
...                    ...    ...        ...     ...   ...    ...
346649              wausau    595     duplex    1200     3    1.5
346650              wausau    850  apartment    1000     3    2.0
346651              wausau    800  townhouse    1269     3    2.0
346652              wausau    800  townhouse    1269     3    2.0
346654              wausau    800  townhouse    1269     3    2.0

        cats_allowed  dogs_allowed  smoking_allowed  wheelchair_access  \
80254              1             1                1                  0
80295              1             1                1                  0
80565              1             1                0                  0
80767              1             1                0                  1
80838              1             1                0                  0
...              ...           ...              ...                ...
346649             0             0                0                  0
346650             1             1                0                  0
346651             1             1                0                  0
346652             1             1                0                  0
346654             1             1                0                  0

        electric_vehicle_charge  comes_furnished  laundry_options  \
80254                         0                0      w/d hookups
80295                         0                0  laundry on site
80565                         0                0      w/d in unit
80767                         0                0      w/d in unit
80838                         0                0  laundry in bldg
...                         ...              ...              ...
346649                        0                0      w/d in unit
346650                        0                0      w/d in unit
346651                        0                0      w/d in unit
346652                        0                0      w/d in unit
346654                        0                0      w/d in unit

           parking_options      lat     long state
80254       street parking  40.4785 -88.9503    il
80295   off-street parking  40.4783 -88.9489    il
80565       street parking  41.8962 -87.6685    il
80767      attached garage  41.8971 -87.6223    il
80838   off-street parking  41.9268 -88.0687    il
...                    ...      ...      ...   ...
346649     attached garage  44.3805 -89.8440    wi
346650     attached garage  44.4617 -89.5376    wi
346651     attached garage  44.3736 -89.8098    wi
346652     attached garage  44.3736 -89.8098    wi
346654     attached garage  44.3736 -89.8098    wi

[53176 rows x 17 columns]>

In [15]:
great_lakes.isna().sum()

region                     0
price                      0
type                       0
sqfeet                     0
beds                       0
baths                      0
cats_allowed               0
dogs_allowed               0
smoking_allowed            0
wheelchair_access          0
electric_vehicle_charge    0
comes_furnished            0
laundry_options            0
parking_options            0
lat                        0
long                       0
state                      0
dtype: int64

In [16]:
##great_lakes.to_csv('great_lakes.csv')

In [20]:
region_list = great_lakes['region'].value_counts()

In [23]:
great_lakes['region'].replace('',)

80254     bloomington-normal
80295     bloomington-normal
80565                chicago
80767                chicago
80838                chicago
                 ...
346649                wausau
346650                wausau
346651                wausau
346652                wausau
346654                wausau
Name: region, Length: 53176, dtype: object

In [28]:
great_lakes['sqfeet'].value_counts(ascending=True)

2047       1
1873       1
1937       1
2067       1
454        1
        ...
800     1290
1200    1501
1100    1547
900     1804
1000    2449
Name: sqfeet, Length: 1870, dtype: int64

In [36]:
great_lakes = great_lakes[great_lakes['sqfeet'] <= 5000]

In [37]:
great_lakes = great_lakes[great_lakes['sqfeet'] >= 100]

In [38]:
bins = [100,499.9,999.9,1999.9,2999.9,3999.9,4999.9]
names = ['100 - 500','500 - 1000','1000 - 2000','2000 - 3000','3000 - 4000','4000 - 5000']

In [39]:
great_lakes['sqfeet_binned'] = pd.cut(great_lakes['sqfeet'],bins,labels=names,include_lowest=True)

In [44]:
##great_lakes = great_lakes.drop('sqfeet',axis=1)
great_lakes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52981 entries, 80254 to 346654
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   region                   52981 non-null  object
 1   price                    52981 non-null  int64
 2   type                     52981 non-null  object
 3   beds                     52981 non-null  int64
 4   baths                    52981 non-null  float64
 5   cats_allowed             52981 non-null  int64
 6   dogs_allowed             52981 non-null  int64
 7   smoking_allowed          52981 non-null  int64
 8   wheelchair_access        52981 non-null  int64
 9   electric_vehicle_charge  52981 non-null  int64
 10  comes_furnished          52981 non-null  int64
 11  laundry_options          52981 non-null  object
 12  parking_options          52981 non-null  object
 13  lat                      52981 non-null  float64
 14  long                     52981 non-null  float64
 15  state                    52981 non-null  object
 16  sqfeet_binned            52979 non-null  category
dtypes: category(1), float64(3), int64(8), object(5)
memory usage: 6.9+ MB

In [45]:
##great_lakes.to_csv('great_lakes.csv',index=False)